body {
    background-color: #1a1a1a;
}

#calc {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin: auto;
}

#display {
    background-color: grey;
    height: 70px;
    margin-top: 200px;
    font-size: 60px;
    text-align: right;
    
}

#buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

button {
    flex-grow: 1;
    flex-basis: 75px;
    font-size: 20px;
    background-color: rgb(53, 123, 100);
    color: white;
    border: 1px solid black;
    border-radius: 8%;
}

#clear {
    background-color: rgb(150, 33, 33);
}

.op {
    background-color: #1784cc;
}