body {
    background-color: #1a1a1a;
}

div {
    margin: auto;
    width: 500px;
}

#display {
    background-color: grey;
    width: 400px;
    height: 70px;
    margin-top: 200px;
    margin-bottom: 10px;
    font-size: 60px;
    text-align: right;
    padding-right: 5px;
}

button {
    padding: 30px;
}